.wrapper{
    display: flex;
}

.slider{
    min-width: 0;
    position: relative;
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
}

.slider .slick-arrow.slick-prev{
    left: 0;
}

.slider .slick-arrow.slick-next{
    right: 0;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border:0;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid blue;
}